@import "../../../styles.scss";
* {
  box-sizing: border-box;
  margin: 0px;
}

footer {
  background-color: $first-color;
  color: $second-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  position: relative;

  > .text {
    font-weight: bold;
    font-family: $Fuente3;
    font-size: 20px;
  }
}
