@import "../../../styles.scss";
* {
  box-sizing: border-box;
  margin: 0px;
}

.offert {
  background-color: $first-color;
  padding: 16px;
  font-family: $Fuente1;
  font-size: 18px;
  color: $second-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  position: relative;

  @media only screen and (min-width: 481px) and (max-width: 1262px) {
    padding: 0;
  }

  > .text {
    > .ammount {
      font-weight: normal;
      font-size: 18px;
      @media only screen and (min-width: 481px) {
        font-weight: bold;
        font-family: $Fuente3;
        font-size: 20px;
      }
    }
  }
}
