<section class="cover">
  <article class="offert">
    <p class="title">
      {{ staticText.title }}
    </p>
    <p class="description">
      {{ staticText.description }}
    </p>
  </article>
  <div class="image">
    <img
      class="size"
      src="../../assets/src/cover/bg-header-geo.jpg"
      alt="phone"
    />
  </div>
</section>
