@import "../../../styles.scss";
.cover {
  height: 350px;
  margin: 0 auto;
  padding: 16px;
  position: relative;
  background-color: #3a3a3ae3;
  color: #fff;
  display: flex;
  flex-direction: row;

  @media only screen and (min-width: 481px) {
    height: 450px;
    padding: 50px;
  }

  > .offert {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 481px) {
      width: 50%;
    }

    > .title {
      color: #fff;
      font-family: $Fuente3;
      font-size: 30px;
      margin-bottom: 12px;

      @media only screen and (min-width: 481px) {
        font-size: 35px;
      }
    }

    > .description {
      color: #fff;
      font-family: $Fuente3;
      font-size: 14px;

      @media only screen and (min-width: 481px) {
        font-size: 20px;
        width: 80%;
      }
    }
  }
  > .image {
    display: none;

    @media only screen and (min-width: 765px) and (max-width: 1263px) {
      display: block;
      width: 50%;

      > .size {
        height: 100%;
        width: 100%;
      }
    }

    @media only screen and (min-width: 1264px) {
      display: block;
      width: 50%;

      > .size {
        height: 400px;
        width: 632px;
      }
    }
  }
}
