section {
  display: flex;
  flex-direction: column;
  margin: 30px;
  justify-content: space-between;
  align-items: center;

  @media only screen and (min-width: 481px) and (max-width: 1263px) {
    margin: 30px;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (min-width: 1264px) {
    margin: 50px;
    flex-direction: row;
  }
}
