<div class="product">
  <div class="image">
    <img class="img" src="{{ phone.image }}" />
  </div>
  <div class="description">
    <div class="name">{{ phone.name }}</div>
    <div class="price">{{ phone.price }}</div>
    <div class="disscount" *ngIf="phone.flagDisscount">
      -15% Descuento
    </div>
  </div>
</div>
