@import "../../../styles.scss";
.product {
  display: flex;
  flex-direction: column;
  box-shadow: 0 14px 30px 1px rgba(black, 0.07);
  width: 300px;
  height: 400px;
  align-items: center;

  @media only screen and (min-width: 481px) and (max-width: 1263px) {
    width: 600px;
    align-items: center;
  }

  @media only screen and (min-width: 1264px) {
    width: 200px;
    height: 400px;
    align-items: baseline;
  }

  > .image {
    padding: 16px;

    > .img {
      width: 170px;
      height: 200px;
    }
  }

  > .description {
    margin: 0 26px 0 26px;
    font-family: $Fuente2;
    font-size: 24px;
    > .name {
      font-size: 32px;
      padding-bottom: 12px;
      border: #fff;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: #c2a48a;
    }

    > .price {
      margin-top: 16px;
    }
  }
}
