/* You can add global styles to this file, and also import other style files */

$Fuente1: "Lato", sans-serif;
$Fuente2: "Darker Grotesque", sans-serif;
$Fuente3: "Raleway", sans-serif;
$first-color: #f1f1f1;
$second-color: #85898a;
$input-color: #fff;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
