@import "../../../styles.scss";

.container {
  margin-top: 50px;

  > .copy {
    font-family: $Fuente2;
    font-size: 22px;
    color: $second-color;
    width: 200px;
    padding-bottom: 30px;
    margin: 0 auto;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;

    @media only screen and (min-width: 481px) {
      width: 600px;
      font-size: 30px;
    }
  }

  > .input {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-bottom: 50px;

    @media only screen and (min-width: 481px) {
      width: 700px;
    }

    > .label {
      font-family: $Fuente3;
      font-size: 20px;
      margin-bottom: 20px;
      color: $second-color;
    }

    > .entry {
      height: 40px;
      color: $second-color;
      border: #fff;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #c2a48a;
      background-color: #fff;
    }
  }

  > .button {
    display: flex;
    justify-content: center;

    > .btn {
      width: 200px;
      height: 50px;
      font-size: 16px;
      padding: 0.5em 1.2em;
      background: rgba(0, 0, 0, 0);
      border: 1px solid;
      border-color: #c2a48a;
      transition: all 1s ease;
      position: relative;

      @media only screen and (min-width: 481px) {
        width: 300px;
      }
    }
  }
}
