<form [formGroup]="form" class="container">
  <p class="copy">{{ staticText.copy }}</p>
  <p class="input">
    <label for="name" class="label">{{ staticText.name }}</label>
    <input type="text" class="entry" formControlName="name" />
  </p>
  <p class="input">
    <label for="email" class="label">{{ staticText.email }}</label>
    <input type="email" class="entry" formControlName="email" />
  </p>
  <p class="input">
    <label for="marca" class="label">{{ staticText.marca }}</label>
    <select formControlName="marca" class="entry">
      <option
        *ngFor="let model of models; let i = index"
        value="{{ i }}"
        class="entry"
        >{{ model["name"] }}</option
      >
    </select>
  </p>
  <div class="button">
    <button
      class="btn"
      type="submit"
      [disabled]="form.invalid"
      (click)="save($event)"
    >
      {{ staticText.save }}
    </button>
  </div>
</form>
